* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  letter-spacing: 0.9px;
}

.login_child_first {
  width: 25%;
  border-radius: 4px;
  background: rgba(230, 230, 255, 0.5);
  margin: auto;
  margin-top: 80px;
  border: 1px solid rgb(235, 229, 229);
}
.login_child_first h6 {
  padding: 10px;
  font-size: medium;
  text-align: center;
  color: rgb(24, 23, 23);
  border-bottom: 1px solid rgb(235, 229, 229);
}

.login_child_first_form {
  border: 1px solid transparent;
  width: 90%;
  border-radius: 4px;
  margin: 2% 5%;
  display: block;
  text-align: left;
  padding-top: 10px;
  padding-bottom: 12px;
}

.login_child_first_form label {
  margin: 2px;
  width: 95%;
  font-size: 11.5px;
  font-weight: bolder;
  color: rgb(0, 0, 0);
}
.login_child_first_form input {
  width: 100%;
  height: 30px;
  border: 1px solid rgb(185, 184, 184);
  border-radius: 7px;
  margin: 5px 0px;
  cursor: text;
  margin-bottom: 5%;
}
.login_child_first_form input:focus {
  padding-left: 10px;
  outline: 2px solid rgba(84, 84, 245, 0.9);
}
input::placeholder{
  border: 1px solid;
}
.login_child_first_form p {
  padding: 10px;
  font-size: x-small;
  text-align: center;
  color: rgb(24, 23, 23);
}

.login_child_first_form_span {
  color: rgba(31, 31, 247, 0.9);
  font-weight: bolder;
  font-size: 11.5px;
  cursor: pointer;
  margin-left: 42%;
  border: 1px solid transparent;
}
.login_child_first_form_submit {
  width: 100%;
  height: 30px;
  border: 1px solid rgb(185, 184, 184);
  border-radius: 7px;
  margin: 5px 0px;
  background-color: rgba(36, 143, 36, 0.9);
  cursor: pointer;
  color: antiquewhite;
  font-weight: bolder;
  letter-spacing: 0.9px;
  margin-top: 20px;
}