.add-task-btn-container{
  display: flex;
  justify-content: flex-end;
}
.add-task-btn-container button{
    border: 1px solid rgb(209, 208, 208);
    background: green;
    color: white;
    padding: 10px 25px;
    border-radius: 5px;
    cursor: pointer;
}

.addNewTask_main_div {
  font-weight: lighter;
}
.task_fields {
  background: rgba(212, 212, 243, 0.4);
  width: 30vw;
  border: 1px solid rgb(197, 195, 195);
  margin: auto;
  display: grid;
}
.task_fields>h5 {
  border-bottom: 1px solid rgb(214, 214, 214);
  padding: 10px;
  text-align: center;
}
.task_label {
  text-align: left;
  padding: 5px 5px;
}
.task_input {
  height: 35px;
  margin: 8px 0px 5px 5px;
  border: 1px solid rgb(238, 236, 236);
  border-radius: 5px;
  padding: 12px;
}
.submit_button{
    background-color: rgb(7, 179, 7);
    border: 1px solid green;
    color: white;
    border-radius: 5px;
    margin: 15px 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
}
.addtaskModal_close{
  display: flex;
  justify-content: flex-end;
}
.addtaskModal_close_button{
  border: none;
  border-radius: 10px;
  background: rgb(250, 41, 41);
  color: white;
  padding: 6px 15px;
  cursor: pointer;
  outline: none;
}