.task-page {
  background: #f0f2f5;
}
.task-section{
  justify-content: space-around;
  margin-left: 20px;
  margin-right: 20px;

}
.task-table {
  margin-top: 20px;
  cursor: pointer;
  border-collapse: collapse;
  text-align: justify;
  background: #fff;
  border: 1px solid #222;
}

.table-column:nth-child(even) {
  background:#FAFAFA;
  color: rgb(0, 0, 0);
}
.table-column {
  height: 7vh;
  text-align: center;
  border: 1px solid #DDD;
}
.table-column > th {
  width: 19vw;
  border-collapse: collapse;
}

.header-section{
  background: #fff;
  margin-left: 25px;;
  margin-right: 25px;
}
