
.task-page {
  background: #f0f2f5;
}
.task-section{
  margin-right: 18px;
}

table {
  margin-top: 20px;
  margin-right: 50px;
  cursor: pointer;
  border-collapse: collapse;
  text-align: justify;
  background: #fff;
  border: 1px solid #222;
}

tr:nth-child(even) {
  background:#FAFAFA;
  color: rgb(0, 0, 0);
}
tr {
  height: 7vh;
  text-align: center;
  border: 1px solid #DDD;
}
tr > th {
  width: 15vw;
  border-collapse: collapse;
}

.header-section{
  background: #fff;
  margin-left: 25px;;
  margin-right: 25px;
}
