table {
  margin-top: 20px;
  cursor: pointer;
  border-collapse: collapse;
  text-align: justify;
}
table:nth-child(odd) {
  background: rgb(131, 130, 130);
  color: black;
}
tr:nth-child(even) {
  background: rgb(197, 196, 196);
  color: rgb(0, 0, 0);
}
tr:first-child {
  background: black;
  color: aliceblue;
  border: none;
}
tr {
  height: 7vh;
  text-align: center;
}
tr > th {
  width: 15vw;
  border: 1px solid white;
  background: black;
}

.header_task {
  display: flex;
  border: 1px solid y;
  justify-content: space-between;
}
.header_task p {
  font-weight: 700;
  line-height: normal;
}
