.user_main_div{
    display: inline-table;
}
.addUserModal_button{
    float: right;
    margin: 2px 40px 10px 0;
    width: 10vw;
    height: 8vh;
    border: 1px solid rgb(209, 208, 208);
    background: green;
    color: white;
}
.addUserModal_close_button{
    float: right;
    margin: 2px 40px 10px 0;
    width: 8vw;
    height: 6vh;
    border: 1px solid rgb(209, 208, 208);
    border-radius: 10px;
    background: rgb(250, 41, 41);
    color: white;
}