.header{
  display: flex;
  background: #FAFAFA;
  margin-bottom: 20px;
  justify-content: space-between;
  height: 50px;
}
.accordian-link{
  font-weight: bold;
  text-decoration: none;
  padding: 15px 30px;
}
.signout-btn{
  font-weight: bold;
  cursor: pointer;
  padding: 15px 30px;
}
